header {
  width: 100%;
  height: 20vh;
  background-color: #264653;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > h1 {
  font-size: 50px;
  color: #f8edeb;
}
.container {
  margin: 20px 40px;
}
.launchpads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.launchpad {
  background-color: #f8edeb;
  border-radius: 8px;
  box-shadow: 1px 3px 5px;
}
.launchpad > * {
  padding: 20px;
  color: #264653;
  font-size: 1.1em;
  line-height: 1.5em;
}
.launchpadname {
  background-color: #2a9d8f;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  letter-spacing: 4px;
  word-spacing: 5px;
}
ul {
  list-style-type: none;
}
.launchinfo {
  max-width: 60vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 3px 5px;
  border-radius: 10px;
}
.launchinfo > * {
  margin-bottom: 20px;
}
.launchname {
  background-color: #2a9d8f;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.launchdetails {
  color: #264653;
  line-height: 1.3em;
  padding: 10px;
  text-align: justify;
}
.launchdate {
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .launchpads {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .launchpads {
    grid-template-columns: 1fr;
  }
}
.launchpad > h4 {
  color: #668586;
}
footer {
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}
